#sisse {
	background: url('pics/order-processing.jpg') no-repeat center;
	display: inline-block;
	width: 100%;
	padding:235px 0px;
	text-align: center;
	text-decoration: none;
	color: gold;
	font-weight: bold;
	font-size: 30px;
	text-shadow:0px 0px 10px black;
}

body {
	background: skyblue;
	margin:0px;
}

div.container {
	background: rgba(54, 25, 25, .4);
}

#content {
  background: 
    linear-gradient(purple 0%, red 50%), 
    linear-gradient(to right, purple 0%, yellow 50%), 
	url('pics/order-processing2.jpg') no-repeat center;
  background-blend-mode: screen, difference, lighten;
}

.text-info {
	font-size: 15px;
	font-weight: bold;
	text-shadow: 0px 0px 10px black;
	color: darkblue;
}

.text-info2 {
	font-size: 15px;
	font-weight: bold;
	text-shadow: 0px 0px 10px yellow;
	color: black;
}
.big-text-info {
	font-size: 30px;
	font-weight: bold;
	text-shadow: 0px 0px 10px black;
	color: darkblue;	
}

#wrap{
	width: 800px;
	background: white;
	margin: auto;
	overflow: auto;
	min-height:600px;
}
#menu {
	list-style: none;
	background: skyblue;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
#menu li, #menu a {
	display: inline-block;
}

#menu li.active {
	background: orange;
}
#menu a {
	padding:5px 20px;
	color: black;
	text-decoration: none;
}
#menu a:hover {
	background: Aquamarine;
	color: DarkSlateGray;
}
#content {
	padding:10px;
}
#login{
	margin:auto;
	width: 35%;	
	margin-top:25%;
}