<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8"/>
	<title>Tellimuste haldus</title>
	<link rel="stylesheet" type="text/css" href="stiil.css">
</head>

<body>

<div id="wrap">
	<ul id="menu">
		<li class="active"><a href="?">Pealeht</a></li>
		
		<?php if(empty($_SESSION['user'])): ?>			
			<li><a href="?page=login">Logi sisse</a></li>
		<?php else: ?>
			
			<?php switch($_SESSION['roll']): case 'admin':?>
				<li><a href="?page=pending">Ootel tellimused</a></li>
				<li><a href="?page=inprocess">Tellimused komplekteerimises</a></li>
				<li><a href="?page=processed">Komplekteeritud</a></li>
			<?php break; case 'order processor': ?>
				<li><a href="?page=pending">Ootel tellimused</a></li>
				<li><a href="?page=processed">Komplekteeritud</a></li>
			<?php break; case 'warehouse worker': ?>
				<li><a href="?page=inprocess">Tellimused komplekteerimises</a></li>
			<?php break; case 'customer': ?>
				<li><a href="?page=add">Lisa tellimus</a></li>
				<li><a href="?page=custorders">Täitmata tellimused</a></li>
				<li><a href="?page=processed">Komplekteeritud</a></li>
			<?php break; endswitch;?>
			<li><a href="?page=logout">Logi välja</a></li>
		<?php endif;?>
	</ul>
	<div id="content">