<form action="?page=inprocess" method="POST" enctype="multipart/form-data">
	<h1 class="big-text-info">Tellimused komplekteerimiseks</h1>
	<div class="container">
		
		<?php
		if (empty($orders)) {
		show_orders('inprocess');} else {
			foreach ($orders as $key=>$order):
		?>
				<div style="padding-left:30px; padding-top:20px;">
					<h class="text-info">Tellimus <?php echo $key?></h>
					<br>
					<table border="1">
						<tr>
							<th class="text-info2">
								Kauba nr.
							</th>
							<th class="text-info2">
								Kogus
							</th>
							<th class="text-info2">
								Hind
							</th>
							<th class="text-info2">
								Komplekteeritud
							</th>
							<th class="text-info2">
								Täitmata kogus
							</th>
						</tr>
					<?php foreach ($order as $key2=>$line):?>
						<tr>
							<td>
								<em><?php echo $line['ItemNo'];?></em>
							</td>
							<td>
								<em><?php echo $line['Quantity'];?></em>
							</td>
							<td>
								<em><?php echo $line['Price'];?></em>
							</td>
							<td>
								<input type="number" max="<?php echo $line['Quantity'];?>" min="0" name="PickedQty[]" value="<?php if (isset($line['PickedQty'])) echo htmlspecialchars($line['PickedQty']); ?>"></input>
							</td>
							<td>
								<em><?php echo $line['OutstandingQty'];?></em>
							</td>
						</tr>
						<input type="hidden" name="OutstandingQty[]" value="<?php echo $line['OutstandingQty'] ?>"></input>
						<input type="hidden" name="OrderNo[]" value="<?php echo $line['OrderNo'] ?>"></input>
						<input type="hidden" name="LineNo[]" value="<?php echo $line['LineNo'] ?>"></input>
					<?php endforeach; ?>
					</table>
				</div>
				<br>
				</container>
			<?php endforeach; }?>	
	</div>
	<input type="submit" value="Kinnita"/> 
</form>
<?php if (isset($errors)):?>
		<?php foreach($errors as $error):?>
			<div style="color:red;"><?php echo htmlspecialchars($error); ?></div>
		<?php endforeach;?>
<?php endif;?>