<form action="?page=pending" method="POST" enctype="multipart/form-data">
	<h1 class="big-text-info">Kinnituse ootel tellimused</h1>
	<div class="container">
		
		<?php
		if (empty($orders)) {
		show_orders('pending');} else {
			foreach ($orders as $key=>$order):
		?>
				<div style="padding-left:30px; padding-top:20px;">
					<h class="text-info">Tellimus <?php echo $key?></h>
					<input type="checkbox"  name="Approved[]" value=<?php echo $key?>><br/>
					<input type="hidden" name="HiddenOrderNo[]" value=<?php echo $key?>>
					<br>
					<table border="1">
						<tr>
							<th class="text-info2">
								Kauba nr.
							</th>
							<th class="text-info2">
								Kogus
							</th>
							<th class="text-info2">
								Hind
							</th>
							<th class="text-info2">
								Komplekteeritud
							</th>
						</tr>
					<?php foreach ($order as $key2=>$line):?>
						<tr>
							<td>
								<em><?php echo $line['ItemNo'];?></em>
							</td>
							<td>
								<em><?php echo $line['Quantity'];?></em>
							</td>
							<td>
								<em><?php echo $line['Price'];?></</em>
							</td>
							<td>
								<em><?php echo $line['PickedQty'];?></</em>
							</td>
						</tr>
					<?php endforeach; ?>
					</table>
				</div>
				<br>
				</container>
			<?php endforeach; }?>	
	</div>
	<input type="submit" value="Kinnita"/>
</form>
<?php if (isset($errors)):?>
		<?php foreach($errors as $error):?>
			<div style="color:red;"><?php echo htmlspecialchars($error); ?></div>
		<?php endforeach;?>
<?php endif;?>